import { {{pascalcase name}}Props } from './{{pascalcase name}}.d';
import './{{pascalcase name}}.css';

export const {{pascalcase name}} = ({...props }: {{pascalcase name}}Props): JSX.Element => {

  return (
    <div className="{{pascalcase name}}-container" {...props}>
      Welcome to {{pascalcase name}} Component
    </div>
  );
};
